<div id="palm-dialog-content" class="palm-dialog-content">
    <div class="palm-dialog-title">
    	<table border=0 cellpadding=0 cellspacing="0">
			<tr>
				<td width=100% style="font-size:14px">
					Download with Promo Code:
					<div id="title-name" style="font-size:18px; white-space: nowrap; width: 250px; overflow: hidden; text-overflow: ellipsis;"></div>
				</td>
				<td>
					<div id="title-icon"></div>
				</td>
			</tr>
		</table>
    </div>

    <div class="palm-dialog-buttons">
    	<div x-mojo-element="Button" id="download"></div>
		<!--<div id="download" class="palm-button affirmative buttonfloat" x-mojo-tap-highlight="momentary">Download App</div>-->
    </div>

	<br>

	<div class="palm-dialog-separator"></div>
	
	<div style="font-size:15px">Tell other users if the Promo Code worked for you by clicking here after downloading.</div>
	
    <div class="palm-dialog-buttons">
    	<table border=0 cellpadding=0 cellspacing="0" width=100%>
			<tr>
				<td width=50%>
					<div x-mojo-element="Button" id="worked"></div>
					<!--<div id="worked" class="palm-button affirmative buttonfloat" x-mojo-tap-highlight="momentary">Worked</div>-->
				</td>
				<td width=50%>
					<div x-mojo-element="Button" id="workednot"></div>
					<!--<div id="workednot" class="palm-button negative buttonfloat" x-mojo-tap-highlight="momentary">Failed</div>-->
				</td>
			</tr>
		</table>
		<div id="cancel" class="palm-button buttonfloat" x-mojo-tap-highlight="momentary">Cancel</div>
    </div>
</div>